@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@600&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #271A45;
}

h1 {
    font-family: 'Crimson Pro', serif;
    font-size: 32px;
    line-height: 100%;
}

h2 {
    font-size: 16px;
    opacity: 0.67;
    font-weight: 400;
    line-height: 100%;
}

body {
    background-color: #D9CDF7;
}

body {
    font-family: 'Lato', sans-serif;
}

#app {
    display: flex;
    place-content: center;
    margin-block: 30vh;
    gap: 38px;
}

#container-1 {
    width: 449px;
}

#container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 auto;
    width: 274px;
}


img {
    width: 449px;
    height: 222.96px;
    object-fit: cover;
}

.wrapper {
    display: inline-block;
}

.wrapper img {
    display: flex;
    text-align: end;
}

.graus {
    width: 22px;
    height: 22.47px;
    object-fit: cover;
    margin-left: 370px;
    cursor: pointer;
}


.code {
    width: 75px;
    height: 10px;

    font-weight: 300;
    font-size: 10px;
    line-height: 100%;
    opacity: 0.67;
}


.titleh1 {
    width: 274px;
    height: 32px;

    margin-top: 12px;
    margin-bottom: 12px;
}

.button {
    width: 148px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 0.5px solid #271A45;
    border-radius: 999px;

    font-size: 12px;
    font-weight: 400;
    line-height: 16px;

    margin-top: 20px;
}



@keyframes example {
    from {background-color: #af94ee;}
    to {background-color: #e1daf3;}
  }

  .button:hover,
  .graus:hover {
 
    border: 0.5px solid #af94ee;
    animation-name: example;
    animation-duration: 1s;
}